/* Corpo della pagina */
body {
    font-family: Arial, sans-serif;
    background-color: #2f3b4e; /* Grigioblu */
    color: #fff; /* Testo bianco per contrastare lo sfondo scuro */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Questo fa sì che la pagina occupi tutta l'altezza della finestra */
}

/* Header */
header {
    background-color: #1a232e; /* Blu molto scuro per l'header */
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px; /* Dimensione maggiore per il nome */
}

/* Navigazione */
nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0; /* Spazio sopra il menu */
}

nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Selettore della lingua */
.language-selector a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
}

.language-selector a:hover {
    background-color: #444d5b;
}

/* Sezione principale */
main {
    padding: 20px;
    flex: 1; /* Questo fa sì che la sezione principale occupi tutto lo spazio disponibile */
}

/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #1a232e; /* Blu molto scuro per il footer */
    color: white;
}

/* Design per il footer */
footer p {
    margin: 0;
}


/* Aggiungi uno stile per le formule LaTeX */
.mathjax {
    font-size: 1.2em; /* Modifica la dimensione delle formule */
    margin: 10px 0; /* Aggiungi margini attorno alle formule */
    text-align: center; /* Allinea le formule al centro */
}

/* Aggiungi uno stile per le formule LaTeX */
.mathjax-inline {
    font-size: 1.1em; /* Modifica la dimensione per le formule inline */
    padding: 2px 5px; /* Aggiungi un po' di spazio intorno alla formula */
    border-radius: 3px; /* Arrotonda gli angoli */
}
